@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  width: 100%;
}

.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./assets/images/bg.png')
}

.discoverText {
  color: white;
  font-family: 'Montserrat';
  font-size: 90px;
  font-weight: 900;
  line-height: 110px;
  letter-spacing: 0em;
  margin: 30px 0 0 0;
}

.tornPaper {
  background-image: url('./assets/images/tornPaper.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.whyThisBorder {
  color: rgba(0, 0, 0, 0.9);
  text-shadow: 1px 0 #3f3f3f, -1px 0 #3f3f3f, 0 1px #3f3f3f, 0 -1px #3f3f3f,
    1px 1px #3f3f3f, -1px -1px #3f3f3f, 1px -1px #3f3f3f, -1px 1px #3f3f3f;
}

.followBg {
  background-image: url('./assets/images/stepBg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 553px;
}

.registerBg {
  background-image: url('./assets/images/registerBg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}